#fiddlesticks{
    font-size:medium;
    float:right;
    margin-right: 320px;
}

#spanscore{
    margin-left:20px;
    font-size: medium;
}

body{
    background-color: rgb(175, 246, 246);

}
